[Unit]
Description=Dank Calendar
Documentation=https://github.com/AvengeMedia/dankcalendar
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/dcal run --session --hidden
Restart=on-failure
RestartSec=2
Slice=app.slice

[Install]
WantedBy=graphical-session.target
